div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

body {
  font-family: "BioRhyme", serif;
  // color: $color-primary;
}
div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-secondary;
    color: $color-primary;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }
}

header {
  background-color: $color-primary;
  /* Set a specific height */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 3em;
  padding: 3em;
}
