body {
  font-family: "BioRhyme", serif;
}

header {
  background-color: $color-primary;
  color: $body-bg;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 3em;
  padding: 10em;
}

.spacer {
  min-height: 25vh;
}

em {
  color: $color-primary;
}

.ref {
  background-color: $body-color;
  color: $body-bg;
}